<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost/itunes</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <mapping class="com.maxrt.db.model.Album"/>
    <mapping class="com.maxrt.db.model.Author"/>
    <mapping class="com.maxrt.db.model.Genre"/>
    <mapping class="com.maxrt.db.model.MusicalLabel"/>
    <mapping class="com.maxrt.db.model.SavedSong"/>
    <mapping class="com.maxrt.db.model.Song"/>
    <mapping class="com.maxrt.db.model.User"/>
  </session-factory>
</hibernate-configuration>